# Fichiers sensibles
.env
.streamlit/
secrets.toml

# Environnements virtuels
venv/

# Fichiers média
*.jpg
*.png
*.jpeg

# Fichiers de données
*.csv
*.xlsx
*.parquet
*.db

# Cache Python
__pycache__/
*.py[cod]
.streamlit/secrets.toml
